In [1]:
import sqlite3

In [81]:
imdb = sqlite3.connect('imdb.sqlite3')
c = imdb.cursor()

1. The top 3 most common professions among these people and also the average life span of these three professions

In [48]:
x = []
for row in c.execute('SELECT * FROM name'):
    if row[3]=='\\N' or row[2]=='\\N':
        continue
    profession = row[4].split(',')
    span = int(row[3]) - int(row[2])
    for p in profession:
        x.append((row[0], p, span))

In [53]:
c.executemany('INSERT INTO prof VALUES (?,?,?)', x)

In [54]:
imdb.commit()

2. The top 3 most popular (received most votes) genres

In [69]:
y = []
for row in c.execute('SELECT tconst, startYear, endYear, genres FROM title_basics'):
    if row[1]=='\\N' or row[2]=='\\N' or row[3]=='\\N':
        continue
    genres = row[3].split(',')
    span = int(row[2]) - int(row[1])
    for g in genres:
        y.append((row[0], g, span))

In [72]:
c.executemany('INSERT INTO genres VALUES (?,?,?)', y)

In [73]:
imdb.commit()

3. The average time span (endYear - startYear) of the titles for each person

In [77]:
z = []
for row in c.execute('SELECT nconst, primaryName, knownForTitles FROM name'):
    if row[2]=='\\N':
        continue
    titles = row[2].split(',')
    for t in titles:
        z.append((row[0], row[1], t))

In [82]:
c.executemany('INSERT INTO titles VALUES (?,?,?)', z)

In [83]:
imdb.commit()