In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('dt.csv')

As there are 7 distinct numbers, there are 6 candidates split points. $[2, 3.5, 4.5, 5.5, 6.5, 7.5]$

In [3]:
splits = [2,3.5,4.5,5.5,6.5,7.5]

In [10]:
def devide(a3, y, split):
    left = 0
    lcount = 0
    right = 0
    rcount = 0
    for i, x in enumerate(a3):
        if x < split:
            left += 1
            lcount += y[i]
        else:
            right += 1
            rcount += y[i]
    return [lcount/left, rcount/right], left/(left+right)

In [11]:
def entropy(p):
    if p==1 or p==0:
        return 0
    else:
        return -(1-p) * np.log2(1-p) - p * np.log2(p)

In [16]:
def remainder(dat, split):
    pm, lp = devide(dat.a3, dat.y, split)
    return lp * entropy(pm[0]) + (1-lp) * entropy(pm[1])

In [33]:
num = len(data.y)
p1 = sum(data.y==1)/num
f0 = -(1-p1) * np.log2(1-p1) - p1 * np.log2(p1)

In [40]:
rem = []
for sp in splits:
    tmp = remainder(data, sp)
    rem.append(tmp)
    print(sp, "{:.2f}".format(tmp), "{:.4f}".format(f0 - tmp))

2 0.85 0.1427
3.5 0.99 0.0026
4.5 0.92 0.0728
5.5 0.98 0.0072
6.5 0.97 0.0183
7.5 0.89 0.1022

In [46]:
# binary division for a1, a2
def bin_div(a12, y):
    false = 0
    fcount = 0
    true = 0
    tcount = 0
    for i, x in enumerate(a12):
        if x:
            true += 1
            tcount += y[i]
        else:
            false += 1
            fcount += y[i]   # count y that is T
    return tcount/true, fcount/false, true/(true+false)

In [48]:
t1, f1, pt1 = bin_div(data.a1, data.y)
rem1 = pt1 * entropy(t1) + (1-pt1) * entropy(f1)
print(sp, "{:.2f}".format(rem1), "{:.4f}".format(f0 - rem1))

7.5 0.76 0.2294

In [49]:
t2, f2, pt2 = bin_div(data.a2, data.y)
rem2 = pt2 * entropy(t2) + (1-pt2) * entropy(f2)
print(sp, "{:.2f}".format(rem2), "{:.4f}".format(f0 - rem2))

7.5 0.98 0.0072

In [50]:
t1

0.75

In [51]:
f1

0.20000000000000001

In [52]:
data

   a1  a2  a3  y
0   1   1   1  1
1   1   1   6  1
2   1   0   5  0
3   0   0   4  1
4   0   1   7  0
5   0   1   3  0
6   0   0   8  0
7   1   0   7  1
8   0   1   5  0